.slider-container {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    /* Agrega más estilos según tus necesidades, como padding, margin, etc. */
  }
  
  .slider-item {
    display: inline-block;
    width: 200px; /* Ajusta el ancho según tus imágenes */
    height: 200px;
    margin: 10px;
    text-align: center;
  }
  
  .slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }